<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spring Boot 3</title>
    </head>
    <body>
		 <div th:replace="~{/layout/fragments :: pageHeader('지역 상세 페이지')}"></div>
         
        <main>
        <section>
            <h2>지역 상세 정보</h2>
            <table>
                <tbody th:object="${region}">
                    <tr>
                        <th>지역번호</th>
                        <td th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <th>지역이름</th>
                        <td th:text="*{regionName}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <!-- 
        <section>
                <h2>나라 목록</h2>
                <table>
                    <thead>
                        <tr>
                            <th>나라코드</th>
                            <th>나라이름</th>
                            <th>지역</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ctry : ${region.countries}" th:object="${ctry}">
                            <td>
                                <a th:href="@{/country/details/{id}(id=*{id})}" th:text="*{id}"></a>
                            </td>
                            <td>
                                <a th:href="@{/country/details/{id}(id=*{id})}" th:text="*{countryName}"></a>
                            </td>
                            
                            <td>
                                <a th:href="@{/region/details/{id}(id=*{region.id})}"
                                    th:text="*{region.regionName}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
             -->
        </main>
	</body>
</html>
