@charset "UTF-8";

#top {
    background-color: mediumseagreen;
    color: white;
    padding: 15px;
}

body {
    font: 100% Sans-serif;
    margin: 20px;
    line-height: 26px;
}

.profile {
    background-color: white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-radius: 10px;
    margin: 0 auto;
    width: 900px;
    
    text-align: center;
    
}

.profile-image {
    border: 5px solid white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: -100px
}

.text {
    color: gray;
    text-align: left;
    font-size: 1.2em;
    list-style: none;
    
}