<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
		<th:block th:replace="~{/layout/fragments :: pageHeader('포스트 수정 페이지')}"></th:block>
        
        <main>
            <div class="mt-2 card">
                <div class="card-header">
                    <h2>포스트 수정</h2>
                </div>
                <div class="card-body" th:object="${post}">
                    <form id="updateForm" method="post" th:action="@{/post/update}">
                        <div class="mt-2 d-none">
                            <label for="id" class="form-label">번호</label>
                            <input id="id" name="id" class="form-control" type="text"
                                th:value="*{id}" readonly />
                        </div>
                        <div class="mt-2">
                            <label for="title" class="form-label">제목</label>
                            <input id="title" name="title" class="form-control" type="text"
                                th:value="*{title}" />
                        </div>
                        <div class="mt-2">
                            <label for="content" class="form-label">내용</label>
                            <textarea id="content" name="content" class="form-control"
                                rows="5" th:text="*{content}"></textarea>
                        </div>
                        <div class="mt-2 d-none">
                            <label for="author" class="form-label">작성자</label>
                            <input id="author" name="author" class="form-control" type="text"
                                th:value="*{author}" readonly />
                        </div>
                    </form>
                    
                    <!--  포스트 작성자와 로그인 사용자가 같은 경우 삭제/업데이트 가능하도록 -->
                    <div th:if="*{author eq #authentication.name}" class="mt-2 d-flex justify-content-end" >
                        <button id="btnDelete" class="mx-1 btn btn-outline-danger">삭제</button>
                        <button id="btnUpdate" class="mx-1 btn btn-outline-success">업데이트</button>
                    </div>
                </div>
            </div>
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <script th:src="@{/js/post_modify.js}"></script>
	</body>
</html>