<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 테이블 컬럼 이름의 밑줄(underscore)을 자바 클래스의 카멜 표기법 필드로 변환. -->
        <!-- 기본값은 "false" ("false"라면 테이블 컬럼 이름과 자바 필드 이름을 같게 적어야 함. -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    
    <!-- 매퍼 XML 파일에서 resultType 속성을 설정할 때 간단히 하기 위해서. 별명 사용. -->
    <typeAliases>
        <typeAlias type="com.itwill.spring2.repository.Post" alias="Post" /> <!-- Post 클래스 이름과 같아야 함. -->
    </typeAliases>
</configuration>

