<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('직무 목록')}"></th:block>
        
        <main class="m-2">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>코드</th>
                        <th>이름</th>
                        <th>최소급여</th>
                        <th>최대급여</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job : ${page}" th:object="${job}">
                        <td>
                            <a th:href="@{/job/details/{id}(id=*{id})}" th:text="*{id}"></a>
                        </td>
                        <td>
                            <a th:href="@{/job/details/{id}(id=*{id})}" th:text="*{jobTitle}"></a>
                        </td>
                        <td th:text="*{minSalary}"></td>
                        <td th:text="*{maxSalary}"></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="mt-2">
                <ul class="pagination justify-content-center">
                    <li class="page-item"
                        th:classappend="${!page.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{|?p=${page.number - 1}|}">이전</a>
                    </li>
                    <li class="page-item"
                        th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}"
                        th:if="${pageNo >= page.number - 5 && pageNo < page.number + 5}"
                        th:classappend="${pageNo == page.number} ? 'active'">
                        <a class="page-link"
                            th:href="@{|?p=${pageNo}|}"
                            th:text="${pageNo + 1}"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${!page.hasNext} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{|?p=${page.number + 1}|}">다음</a>
                    </li>
                </ul>
            </div>
            
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    </body>
</html>